body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:814px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:0px;
  width:1440px;
  height:814px;
  display:flex;
  opacity:0.963146391369048;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:615px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:44px;
  width:810px;
  height:615px;
  display:flex;
  opacity:0.3;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NanumBrush', 'Nanum Brush Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#000000;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:181px;
  width:1px;
  height:74px;
  display:flex;
  font-family:'NanumBrush', 'Nanum Brush Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#000000;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u3 {
  position:absolute;
  left:399px;
  top:407px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(183, 162, 188, 1) 0%, rgba(238, 184, 177, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(183, 162, 188, 1) 0%, rgba(238, 184, 177, 1) 100%);
  background:linear-gradient(180deg, rgba(183, 162, 188, 1) 0%, rgba(238, 184, 177, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 153, 177, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TrebuchetMS-Italic', 'Trebuchet MS Italic', 'Trebuchet MS', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:21px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  display:flex;
  opacity:0.8;
  font-family:'TrebuchetMS-Italic', 'Trebuchet MS Italic', 'Trebuchet MS', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:21px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background:inherit;
  background-color:rgba(175, 153, 177, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 153, 177, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TrebuchetMS-Italic', 'Trebuchet MS Italic', 'Trebuchet MS', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:21px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  display:flex;
  opacity:0.8;
  font-family:'TrebuchetMS-Italic', 'Trebuchet MS Italic', 'Trebuchet MS', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:21px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:118px;
  width:212px;
  height:100px;
}
#u6_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kefa-Regular', 'Kefa', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#000000;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:27px;
  width:164px;
  height:127px;
  display:flex;
  font-family:'Kefa-Regular', 'Kefa', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#000000;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:168px;
  width:207px;
  height:108px;
}
#u8_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NanumBrush', 'Nanum Brush Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#000000;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:33px;
  width:169px;
  height:66px;
  display:flex;
  font-family:'NanumBrush', 'Nanum Brush Script', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#000000;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
